{% extends 'base.html' %}
{% block title %}Редактировать игру{% endblock %}
{% block content %}
<h2>Редактировать игру</h2>
<form method="POST">
    <label>Название:</label><br/>
    <input type="text" name="title" value="{{ game.title }}" required /><br/>
    <label>Жанр:</label><br/>
    <input type="text" name="genre" value="{{ game.genre }}" required /><br/>
    <label>Дата выхода:</label><br/>
    <input type="text" name="release_date" value="{{ game.release_date }}" /><br/>
    <label>Тип доступности:</label><br/>
    <input type="text" name="accessibility_type" value="{{ game.accessibility_type }}" required /><br/>
    <label>Проблемы:</label><br/>
    <textarea name="issues">{{ game.issues }}</textarea><br/>
    <label>Решения:</label><br/>
    <textarea name="solutions">{{ game.solutions }}</textarea><br/>
    <button type="submit">Сохранить</button>
</form>
{% endblock %}
