{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h2>Регистрация</h2>
<form method="POST">
    <label aria-label="Адрес электронной почты">Адрес электронной почты:</label><br/>
    <input type="email" name="email" required aria-labelledby="email-label" /><br/>

    <label aria-label="Имя пользователя">Имя пользователя:</label><br/>
    <input type="text" name="username" required aria-labelledby="username-label" /><br/>

    <label aria-label="Пароль">Пароль:</label><br/>
    <input type="password" name="password" required aria-labelledby="password-label" /><br/>

    <button type="submit">Зарегистрироваться</button>
</form>
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
{% endblock %}
